@import "../../common-mixins.scss";
.about {
  button{
    margin-top: 10px;
    display: block;
    cursor: pointer;
    padding: 7px 5px;
    font-size: 1.4rem;
    background: transparent;
    color: var(--selected-theme-main-color);
    border: 1.5px solid var(--selected-theme-main-color);
    border-radius: 4px;
    font-weight: 500;
    &:hover {
      color: #000;
      background-color: var(--selected-theme-main-color);
    }
  }
  &-content {
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 100%;
    &-personal-wrapper {
      max-width: 43%;
      flex: 1;
      position: relative;
      animation: getInFromLeftSide 1s ease-in;
      h3, h4 {
        margin-bottom: 10px;
        font-size: 2.5rem;
        color: var(--selected-theme-main-color);
        font-weight: 700;
      }
      .brief{
        font-size: 1.8rem;
      }
      h3.personal-content {
        padding-top: 20px;
      }
      p {
        color: var(--selected-theme-sub-text-color);
        font-size: 1.8rem;
        line-height: 1.65;
        padding-bottom: 20px;
        border-bottom: 1px dashed var(--selected-theme-main-color);
      }
      #long{
        padding-bottom: 0;
        border-bottom: none;
        animation: growShrink 1s ease-in-out;
      }
      ul {
        li {
          line-height: 1rem;
          margin-bottom: 10px;
          list-style-type: none;

          span.title,
          span.value {
            font-size: 1.5rem;
            font-weight: 700;
            letter-spacing: 0.5px;
            border-bottom: 2px solid var(--selected-theme-main-color);
            position: relative;
            display: inline-block;
            margin-right: 16px;
            padding-bottom: 1px;
            color: var(--selected-theme-sub-text-color);
          }
          span.value {
            border: none;
          }
          span.title::after {
            position: relative;
            content: ":";
          }
        }
      }
    }
    &-services-wrapper {
      position: relative;
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-top: 5%;
      animation: getInFromRightSide 1s ease-in;
      &-inner-content {
        width: 330px;
        height: 330px;
        position: relative;
        border-radius: 50%;
        border: 1.5px solid var(--selected-theme-main-color);
        background: radial-gradient(
          180px,
          var(--selected-theme-main-color),
          transparent 90%
        );
         animation: rotation 10s infinite linear 1s;

        div:nth-child(1) {
          position: absolute;
          top: -11%;
          left: 41.5%;
        }
        div:nth-child(2) {
          position: absolute;
          right: -8%;
          top: 41.5%;
        }
        div:nth-child(3) {
          position: absolute;
          bottom: -10%;
          left: 41.5%;
        }
        div:nth-child(4) {
          position: absolute;
          top: 41.5%;
          left: -7%;
        }
      }
    }
  }
}

@keyframes growShrink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes getInFromRightSide {
  0% {
    right: -65rem;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes getInFromLeftSide {
  0% {
    left: -65rem;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@include mediumLarge() {
  .about-content {
    flex-direction: column;
    &-services-wrapper {
      margin-top: 20px;
      margin-bottom: 20px;
      &-inner-content {
        width: 250px;
        height: 250px;
        background: radial-gradient(
          100px,
          var(--selected-theme-main-color),
          transparent 120%
        );
        div:nth-child(1) {
          position: absolute;
          top: -15%;
          left: 38.5%;
        }
        div:nth-child(2) {
          position: absolute;
          right: -11%;
          top: 41%;
        }
        div:nth-child(3) {
          position: absolute;
          bottom: -12%;
          left: 39%;
        }
        div:nth-child(4) {
          position: absolute;
          top: 41.5%;
          left: -12%;
        }
      }
    }
  }
}
