@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --selected-theme-main-color: var(--blue-theme-main-color);
  --selected-theme-sub-text-color: var(--blue-theme-sub-text-color);

  /* Primary color blue */

  --blue-theme-main-color: #5078ff;
  --blue-theme-sub-text-color: #fff;

  /* Primary color green */

  --green-theme-main-color: #6ac045;
  --green-theme-sub-text-color: #fff;

  /* Primary color red */

  --red-theme-main-color: #e82a2a;
  --red-theme-sub-text-color: #fff;

  /* Primary color yellow */

  --yellow-theme-main-color: #ffdd40;
  --yellow-theme-sub-text-color: #fff;

  --font-base: "Roboto Slab", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  background-color: #232323;
  overflow-x: hidden;
}

#root {
  height: 100%;
}
